<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <title>FireBender</title>
    <style>
        iframe {
          width: 100%;
          height: auto;
        }
        .name {
          margin-top: 20px;
          margin-bottom: 6px;
        }
        .disconnect {
          display: block;
        }
        .people {
          margin: 3px;
        }
        .level-left, .level-right {
          max-width: 100%;
        }
          .online {
            display: flex;
          }
        @media (min-width: 768px) {
          .online_container {
            margin-top: auto;
            position: sticky;
            bottom: 3rem;
          }
          .people {
            margin-right: 100%;
          }
        }
        .level:not(:last-child) {
          margin-bottom: 10px;
        }
      </style>
</head>
<body>
    
  <section id="app">
    <div class="section columns">
      <chat
        :messages="messages"
        :your-name="yourName"
      ></chat>
      <panel
        :connected="connected"
        :your-name="yourName"
      ></panel>
    </div>
  </section>
  


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCmYqUupRx-PTlbr1xNMGWAkFE3Uk87K9o",
    authDomain: "firebender-12345.firebaseapp.com",
    databaseURL: "https://firebender-12345.firebaseio.com",
    projectId: "firebender-12345",
    storageBucket: "firebender-12345.appspot.com",
    messagingSenderId: "970384728078"
  };
  firebase.initializeApp(config);
</script>

<!-- on écrit le code là theo!! -->
<script>

Vue.component('connected', {
  props: ['connected', 'yourName'],
  template: `
    <div class="notification">
      <div
        v-for="user in connected"
        class="tag people"
        :class="isUser(user)"
        >{{user.name}}</div>
    </div>
  `,
  methods: {
    isUser: function(user) {
      if (user.name === this.yourName) {
        return "is-info";
      } else {
        return "is-danger";
      }
    }
  }
})

Vue.component('panel', {
  props: ['connected', 'yourName'],
  template: `
  <div class="column online_container">
    <connected
      :connected="connected"
      :your-name="yourName"
    ></connected>
    <div
      class="disconnect button is-small"
      @click="disconnect"
    >Disconnect</div>
  </div>
  `,
  methods: {
    disconnect: function () {
      window.localStorage.removeItem("yourName")
      window.location.reload()
    }
  }
})

Vue.component('inputMessage', {
  props: [
    "yourName"
  ],
  template: `
    <div class="field has-addons">
      <p class="control is-expanded">
        <input class="input" type="text"
          v-on:keyup.enter="send($event)"
        >
      </p>
      <p class="control">
        <a class="button">
          Send
        </a>
      </p>
    </div>
  `,
  methods:{
    send: function(event){
      if (event.target.value.trim() ==="") {
        return;
      }
      var newEntry = {
        author:this.yourName,
        text:event.target.value
      }
      firebase.database().ref('message/').push(newEntry);
      event.target.value=""
    }
  }
})

Vue.component('messageContent', {
  props: ['message', 'isUser', 'isSame'],
  template: `
    <div>
      <p
        v-if="!isSame"
        v-html="message.author"
        class="is-size-7 is-fullwidth name"
      ></p>
      <div
        v-html="message.text"
        class="notification" :class="{ 'is-info': isUser }"
      ></div>
    </div>
  `
})

Vue.component('message', {
  props: ['message', 'yourName', 'isSame'],
  template: `
    <div class="level">
      <div class="level-left">
        <div class="has-text-left">
          <messageContent
            v-if="!isUser"
            :message="message"
            :is-user="isUser"
            :is-same="isSame"
          ></messageContent>
        </div>
      </div>
      <div class="level-right">
        <div class="has-text-right">
          <messageContent
            v-if="isUser"
            :message="message"
            :is-user="isUser"
            :is-same="isSame"
          ></messageContent>
        </div>
      </div>
    </div>
  `,
  computed: {
    isUser: function() {      
      return this.message.author === this.yourName
    }
  }
})

Vue.component('chat', {
  props: ['messages', 'yourName'],
  template: `
    <div class="column is-four-fifths">
      <div class="box">
        <div id="container" class="notification is-white">

          <message
            v-for="(message, index) in messages"
            :message="message"
            :your-name="yourName"
            :is-same="isSame(messages[index-1] && messages[index-1].author, message.author)"
          ></message>

        </div>

        <inputMessage
        :your-name="yourName"
        ></inputMessage>
      </div>
    </div>
  `,
  methods: {
    isSame: function(prevAuthor, author) {
      return prevAuthor === author
    }
  }
})

const app = new Vue({
  el: '#app',
  data: {
    yourName: "",
    messages: [],
    connected: {}
  },
  created: function () {

    this.chooseYourName();
    
    this.iAmConnected()
    this.fetchMessages();
    this.fetchConnected();
  },
  updated: function(){
    setTimeout(function(){
      window.scroll({
        top: document.body.scrollHeight, 
        left: 0, 
        behavior: 'smooth' 
      });
    }, 100)
  },
  methods: {
    fetchMessages: function() {
      const here = this;
      firebase.database().ref("message/").on('value', function(snap){
        here.messages=[];
        for (const key in snap.val()) {
          if (snap.val().hasOwnProperty(key)) {
            here.messages.push(snap.val()[key]);
          }
        }
    });
    },
    iAmConnected: function() {
      firebase.database().ref('connected/' + this.yourName).set({
        name: this.yourName
      });
      
      window.addEventListener("beforeunload", function(e) {
        firebase.database().ref('connected/' + this.yourName).remove();
      }.bind(this), false);
    },
    fetchConnected: function() {
      const here = this;
      firebase.database().ref("connected/").on('value', function(snap){
        here.connected=snap.val();
      })
    },
    chooseYourName: function() {
      if(!window.localStorage.getItem("yourName")){
        this.yourName = prompt("Enter your name");
        window.localStorage.setItem("yourName", this.yourName)
      } else {
        this.yourName=window.localStorage.getItem("yourName")
      }
    }
  }
})

</script>
</body>
</html>